.popup__error {
    min-height: 30px;
    margin: 1px 0 0;
    color: #f00;
    font-size: 12px;
    line-height: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}