.content {
    max-width: 880px;
    width: 100%;
    padding: 36px 0 67px;
}

@media screen and (max-width: 1023px) {
    .content {
        max-width: 696px;
    }
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 282px;
        padding: 38px 0 48px;
    }
}