.header__container {
  display: flex;
  justify-content: space-between;
  max-height: 119px;
  padding: 45px 0 41px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

@media screen and (max-width: 767px) {
  .header__container {
    max-height: 84px;
    padding: 28px 30px 32px;
  }
}