.profile__about {
  max-width: 294px;
  margin: 16px 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .profile__about {
    text-align: center;
    max-width: 282px;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
